<%- include('partials/_htmlhead'); -%>

<h1>blog</h1>

<div class = "postscontainer">
    <div></div>
    <div class = "posttitle"><a href = "/er/blog/test/" class = "posttitle"><p>test</p></a></div>
    <div class = "postsep"><p>|</p></div>
    <div class = "postdate"><p>5/19/2023</p></div>
    <div></div>
</div>

<h1></h1>

<%- include('partials/_htmlfoot'); -%>