<%- include('partials/_htmlhead'); -%>

<h1><%= title %></h1>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>
<p>This is my website.</p>

<%- include('partials/_htmlfoot'); -%>