</body>
<footer>
    <div class = "footercontainer">
        <div></div>
        <div class = "footertext">
            <a href = "https://github.com/whirlwindaster" class="navtext"><p>github</p></a>
        </div>
        <div class = "navtext">
            <a href = "mailto:whirlwindaster@gmail.com" class="navtext"><p>whirlwindaster@gmail.com</p></a>
        </div>
        </div>
        <div></div>
    </div>
    
</footer>
</html>